{% extends 'base.html' %}

{% block body %}

    <div id="intro">
        <h1>Welcome to our website</h1>
        <a href="/rest">REST API for admins</a>
        <div>

            <p>We’re interested in understanding the mind of modern science fiction fans, so please help us by answering some simple questions </p>

            <p>You have to register before take the survey </p>

        </div>

        <div>
            <a href="/accounts/register">Register!</a> <br />
            <a href="/accounts/login">Log in!</a> <br />
            <a href="/survey/1">Take the Survey!</a>

        </div>
    </div>


{% endblock %}